.popup__title {
  margin: 34px 0 54px;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
  }
}
