.profile__edit {
    width: 24px;
    height: 24px;

    background-color: black;
    background-image: url("../../../images/pen.png");
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid white;
}
