.profile__name-edit-container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__name-edit-container {
        flex-direction: column;
        justify-content: center;
    }
}