.header {
  max-width: 880px;
  height: 71px;

  color: white;

  margin: 0 auto 40px;
  padding-top: 45px;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  display: grid;
align-items: baseline;
  grid-template-columns: 1fr 2fr auto;
}
